<link rel="stylesheet" href="assets/css/bs4.css">
<link rel="stylesheet" href="assets/css/dt.css">
<script src="assets/js/jq.js"></script>
<!-- <script src="assets/js/jqv.js"></script> -->
<script src="assets/js/dt.js"></script>
<script src="assets/js/bs4.js"></script>
<script src="assets/js/fa.min.js"></script>
<script src="assets/js/swal2.js"></script>
<script src="assets/js/custom.js"></script>

<style>
    ::-webkit-input-placeholder{
        font-style: italic;
    }

    footer{
        margin-top: 2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .form-group p{
        margin-bottom: 0;
    }

    .row>.col-9{
        font-weight: bold;
        word-break: break-all;
    }

    /* DATATABLES */
    .dataTable tbody>tr>td{
        padding-top: 2px;
        padding-bottom: 2px;
    }
    .dataTable tbody>tr>td>button{
        width: 40px;
        padding: 2px;
    }
</style>